<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo-index.css') }}">

    <style>
        
    </style>
    <title>cadastro</title>

</head>

<body>
    <main>
        <form action="" >

                <div class="cadastro">
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">ID</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">NOME</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">CATEGORIA</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">PREÇO</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">QUANTIDADE</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">FABRICANTE</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container">
                        <input class="input" name="text" type="text">
                        <label class="label" for="input">FABRICANTE</label>
                        <div class="topline"></div>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <button type="submit">
                        Enviar
                    </button>

        </form>
        </div>
    </main>
</body>

</html>